<mat-card>
  <mat-card-header>
    <mat-card-title>Appointment Details</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Address</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ appointment?.address }}
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Requirements</mat-card-title>
      </mat-card-header>
      <mat-card-content> {{ appointment?.requirements }} </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Doctor Name</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ doctorName }}
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Date</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ appointment?.date }}
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Start Time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ appointment?.startTime }}
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>End Time</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ appointment?.endTime }}
      </mat-card-content>
    </mat-card>
  </mat-card-content>

  <div *ngIf="appointment?.requiresUpload">
    This file requires an upload. Check the doctor's requirements to see what
    files are needed.

    <input
      type="file"
      class="file-input"
      (change)="uploadFile($event)"
      #fileUpload
    />

    <div class="file-upload">
      {{ fileName || "No file uploaded yet." }}

      <button
        mat-button
        color="primary"
        class="upload-btn"
        (click)="fileUpload.click()"
      >
        <span class="material-symbols-outlined">Folder</span>
      </button>
    </div>
  </div>
</mat-card>
