<div class="form-container">
  <mat-card class="mat-card-class">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input
            matInput
            type="text"
            formControlName="title"
            required
          />
          <mat-error *ngIf="form.controls['title'].hasError('required')">
            Tile is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Requirements</mat-label>
          <input
            matInput
            type="text"
            formControlName="requirements"
            required
          />
          <mat-error *ngIf="form.controls['requirements'].hasError('required')">
            Requirements are required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input
            matInput
            type="text"
            formControlName="address"
            required
          />
          <mat-error *ngIf="form.controls['address'].hasError('required')">
            Address is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="date"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.controls['date'].hasError('required')">
            Date is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Start Time</mat-label>
          <input
            matInput
            formControlName="startTime"
            type="time"
            required
          />
          <mat-error *ngIf="form.controls['endTime'].hasError('required')">
            Start time is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>End Time</mat-label>
          <input
            matInput
            formControlName="endTime"
            type="time"
            required
          />
          <mat-error *ngIf="form.controls['endTime'].hasError('required')">
            End time is required
          </mat-error>
        </mat-form-field>

        <select multiple formControlName="patient">
          <option *ngFor="let patient of patients" [ngValue]="0">
            {{ patient.firstName }}
            {{ patient.lastName }}; {{ patient.email }}
          </option>
        </select>

        <mat-label>Requires Upload</mat-label>
        <mat-checkbox formControlName="requiresUpload"> </mat-checkbox>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          Create appointment
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
