<button mat-raised-button color="primary" (click)="addPatient()">
  Add Patient
</button>
<div>
  <i class="material-icons">info</i> Click on a patient to view their details
</div>
<div *ngIf="patients === null">
  <mat-card class="no-patients-card">Patients are loading</mat-card>
</div>
<div *ngIf="patients?.length === 0">
  <mat-card class="no-patients-card">No patients found</mat-card>
</div>

<ng-container *ngFor="let patient of patients">
  <mat-card
    layout="column"
    layout-align="center end"
    (click)="goToDetails(patient.id)"
    class="patient-card"
  >
    <mat-card-content>
      <div class="patient-info">
        <div class="patient-name">
          {{ patient.firstName }}
          {{ patient.lastName }}
        </div>
        <div class="patient-email">
          <i class="material-icons">email</i> {{ patient.email }}
        </div>
        <div class="patient-phone">
          <i class="material-icons">phone</i> {{ patient.phoneNumber }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
