<button
  *ngIf="currentRole == 'doctor'"
  mat-raised-button
  color="primary"
  (click)="addAppointment()"
>
  Add Appointment
</button>
<div>
  <i class="material-icons">info</i> Click on an appointment to view details
</div>
<div *ngIf="appointments.length === 0">
  <mat-card class="no-appointments-card">No appointments found</mat-card>
</div>

<ng-container *ngFor="let appointment of appointments">
  <mat-card (click)="goToDetails(appointment.id)" class="appointment-card">
    <mat-card-content>
      <div class="appointment-info">
        <div class="appointment-date">
          <i class="material-icons">event</i>
          {{ appointment.date | date : "mediumDate" }}
        </div>
        <div class="appointment-address">
          <i class="material-icons">navigation</i>{{ appointment.address }}
        </div>
        <div class="appointment-time">
          <i class="material-icons">schedule</i>
          {{ appointment.startTime }} -
          {{ appointment.endTime }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
