.no-appointments-card   
    display: flex
    justify-content: center
    align-items: center
    width: 50%
    height: 8vh
    margin: 0 auto


button
  width: 10%
  display: block
  margin-left: auto
