<button mat-raised-button color="primary" (click)="addAppointment()">
  Add Appointment
</button>
<div *ngIf="appointments.length === 0">
  <mat-card class="no-appointments-card">No appointments found</mat-card>
</div>

<ng-container *ngFor="let appointment of appointments">
  <mat-card (click)="goToDetails(appointment.id)" class="appointment-card">
    <mat-card-content>
      <div class="appointment-info">
        <div class="appointment-address">{{ appointment.address }}</div>
        <div class="appointment-start-time">
          {{ appointment.startTime }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
