<mat-card class="patient-selector">
  <mat-select
    (selectionChange)="getImagesForPatient($event.value)"
    placeholder="Select a patient"
    [(value)]="selectedPatientId"
  >
    <mat-option *ngFor="let patient of patients" [value]="patient.id"
      >{{ patient.firstName }} {{ patient.lastName }},
      {{ patient.email }}
    </mat-option>
  </mat-select>
</mat-card>
<mat-card class="initial-message" *ngIf="!originalImage">
  The image processing tool will appear as soon as you select a patient and an
  image you want to work with.
</mat-card>
<app-image-processing
  *ngIf="originalImage"
  [originalImage]="originalImage"
  [processedImage]="processedImage"
  (startProcessingEmitter)="startProcessing($event)"
  (openDialogEmitter)="onDialogOpen()"
></app-image-processing>
<app-image
  [images]="images"
  [requiresOpenButton]="true"
  (deleteImageEmitter)="deleteImage($event)"
  (openImageEmitter)="openImage($event)"
></app-image>
